# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

### <span style="color: cyan;">Some popular data science languages:<span>
1. Python
2. R
3. SQL
4. Java
5. C++
6. Scala
7. ROOT (used in academic and usually high energy physics fields)
8. julia

### <span style="color: cyan;">Some common data science libraries:<span>

#### <span style="color: purple;">Python<span>
1. NumPy
2. Seaborn
3. Pandas
4. PyTorch
5. many others...

#### <span style="color: purple;">R<span>
1. dplyr
2. ggplot
3. KERAS
4. Tesnsorflow

#### <span style="color: purple;">Scala,span
1. VEGAS
2. Big DL

|<span style="color: cyan;">Some data science tools:<span>|
|---|
|MySQL|
|ModelDB|
|PixieDust|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60

print (hours, "hours")

3.3333333333333335 hours

### **Objective**

- Demonstrate proficiency using markdown in Jupyter notebooks.
- List various data science langauges, tools and libraries.
- show understadnign of arithmetic expressions in Jupyter notebook.
- Show understadning of basic code cells and executing code in Jupyter notebook.

## <span style="color: cyan;">Author<span>
Hannah van der Schyf